services:
  postgres:
    container_name: rajk-postgres
    image: postgres:18-alpine
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres:/var/lib/postgresql/data
    env_file:
      - .env

volumes:
  postgres:
    name: rajk-postgres-data